/* Exo */
$exo-light-font-path: '/fonts/Exo/Exo-Light';
$exo-light-italic-font-path: '/fonts/Exo/Exo-LightItalic';

$exo-normal-font-path: '/fonts/Exo/Exo-Regular';
$exo-normal-italic-font-path: '/fonts/Exo/Exo-Italic';

$exo-medium-font-path: '/fonts/Exo/Exo-Medium';
$exo-medium-italic-font-path: '/fonts/Exo/Exo-MediumItalic';

$exo-semi-bold-font-path: '/fonts/Exo/Exo-SemiBold';
$exo-semi-bold-italic-font-path: '/fonts/Exo/Exo-SemiBoldItalic';

$exo-bold-font-path: '/fonts/Exo/Exo-Bold';
$exo-bold-italic-font-path: '/fonts/Exo/Exo-BoldItalic';

/* CourierPrime */
$courierprime-normal-font-path: '/fonts/CourierPrime/CourierPrime-Regular';

/* Light */
@font-face {
  font-family: Exo;
  src: url($exo-light-font-path + '.ttf');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: Exo;
  src: url($exo-light-italic-font-path + '.ttf');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Normal */
@font-face {
  font-family: Exo;
  src: url($exo-normal-font-path + '.ttf');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: Exo;
  src: url($exo-normal-italic-font-path + '.ttf');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

/* Medium */
@font-face {
  font-family: Exo;
  src: url($exo-medium-font-path + '.ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Exo;
  src: url($exo-medium-italic-font-path + '.ttf');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* SemiBold */
@font-face {
  font-family: Exo;
  src: url($exo-semi-bold-font-path + '.ttf');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: Exo;
  src: url($exo-semi-bold-italic-font-path + '.ttf');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: Exo;
  src: url($exo-bold-font-path + '.ttf');
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: Exo;
  src: url($exo-bold-italic-font-path + '.ttf');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* CourierPrime Normal */
@font-face {
  font-family: CourierPrime;
  src: url($courierprime-normal-font-path + '.ttf');
  font-weight: normal;
  font-display: swap;
}
